html {
  scroll-behavior: smooth;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#server-iframe {
  border: orange;
  width: 70%;
  height: 90%;
  border-radius: 10px;
  text-align: center;
  margin-left: 15%;
}
